*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Arapey', sans-serif;
  color: var(--colorText);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color5);
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  background: none;
  color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: text;
  outline: inherit;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color2);
  margin: 25px 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}
